services:
  movies-review-server:
    build:
      context: ./server/movies
      dockerfile: Dockerfile
    image: movies-api:latest
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      AWS_REGION: ap-south-1
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      SPRING_DATA_MONGODB_DATABASE: "movie-api-db"
      CORS_ORIGINS: "http://localhost:3000"
      SPRING_FLYWAY_ENABLED: "true"
      SPRING_FLYWAY_BASELINE_ON_MIGRATE: "true"
    networks:
      - movie-review-network

  movie-review-client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: "http://localhost:8080/api/v1"
    image: movie-review-client:latest
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - movies-review-server
    networks:
      - movie-review-network

networks:
  movie-review-network:
    driver: bridge